
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a href="~/Index/Index" class="navbar-brand">ALMASALMA HOTEL</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">


             
                <li class="nav-item ">
                    <a href="~/Index/Index" class="nav-link">Home</a>
                </li>


                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rooms & Reservation
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/RoomsAndReservation/SingleRoom">Single Room</a>
                        <a class="dropdown-item" href="~/RoomsAndReservation/TwinRoom">Twin Room</a>

                        <a class="dropdown-item" href="~/RoomsAndReservation/DoubleRoom">Double Room</a>
                        <a class="dropdown-item" href="~/RoomsAndReservation/TripleRoom">Triple Room</a>
                        <a class="dropdown-item" href="~/RoomsAndReservation/QuadrupleRoom">Quadruple Room </a>
                        <a class="dropdown-item" href="~/RoomsAndReservation/FamilyRoom">Family Room</a>
                    </div>
                </li>

                <li class="nav-item ">
                    <a href="~/Promotion/Promotion" class="nav-link">Promotion</a>
                </li>

                <li class="nav-item active ">
                    <a href="~/Contact/Contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>