<section id="showcase">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>


        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-center mb-5">
                        <h1 class="display-3">Our Hotel</h1>

                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3">WONDERFUL VIEW</h1>

                    </div>
                </div>
            </div>


            <div class="carousel-item carousel-image-3">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-center  mb-5">
                        <h1 class="display-3">FEEL ENERGECTIC</h1>

                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-4">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-center mb-5">
                        <h3 class="display-3">DELUXE ROOMS</h3>

                    </div>
                </div>
            </div>


            <div class="carousel-item carousel-image-5">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block text-left mb-5">
                        <h3 class="display-3">WIDE AND SERVED HALLS</h3>

                    </div>
                </div>
            </div>


        </div>

        <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>
