<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1>Welcome To ALMASALMA HOTEL</h1>
                    <p class="d-none d-md-block">
                        ALMASALMA Hotel offers comfortable, affordable accommodation in Turkey.
                        What’s made us so successful in realizing our ambition for almost 6 years is our ability to deliver
                        a truly exceptional experience for our guests Time and time again. So that even the shortest stay with us will last long in the memory.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
