<section id="gallery" class="py-5">
    <div class="container">
        <h1 class="text-center">Photo Gallery</h1>
        <p class="text-center">Check out photos from the ATTRACTIVE city Istanbul</p>
        <div class="row mb-4">
            <div class="col-md-4">
                <a href="http://lorempixel.com/560/560/city/jimmyharris" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/600/600/city/jimmyharris" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/560/560/food/kadluba" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/600/600/food/kadluba" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/560/560/transport/ign11" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/600/600/transport/ign11" class="img-fluid">
                </a>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4">
                <a href="http://lorempixel.com/560/560/transport/4" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/600/600/transport/4" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/600/600/food/Darwin Bell" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/600/600/food/Darwin Bell" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="http://lorempixel.com/560/560/city/elaws" data-toggle="lightbox" data-gallery="img-gallery">
                    <img src="http://lorempixel.com/600/600/city/elaws" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section>
