@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   KKTC-NORTH CYPRUS <br />
   ORTAKY-SHT.ARIF DIKTEPE SOKAK<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>AL Masalma Hotel:</strong>  <a href="mailto:ce.m.mas.94@gmail.com">ce.m.mas.94@gmail.com</a><br />
   
</address>