
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}







    <h2 >Welcome to the Control Panel Adminstration </h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"><a href="~/CEO/Login" id="MainPageLinks"><h3>Login As a CEO</h3></a></div>


        <div class="col-md-3"><a href="~/Adminstration/Login" id="MainPageLinks"><h3>Login As a COO</h3></a> </div>

            <div class="col-md-3"></div>

        </div>
