
 
<h4 class="text-center">Room Facilities</h4>
<hr align="center" width="60%">


<div class="container-fluid">
    <div class="row">

        <div class="col-md-1 col-sm-6"></div>

        <div class="col-md-3 col-sm-6">
            <ul class="text-left">
                <li>Direct-Dial Telephone (Room &amp; Bath)</li>
                <li>Bath Robes &amp; Slippers</li>
                <li>Vast Variety of Amenities</li>
                <li>Orthopedic Mattresses &amp; Pillows</li>
                <li>Coffee &amp; Tea Facilities</li>
                <li>32'' LCD TV with Satelite Channels</li>
            </ul>
        </div>


        <div class="col-md-1 col-sm-6"></div>

        <div class="col-md-3 col-sm-6">
            <ul class="text-left">
                <li>Free High Speed Internet</li>
                <li>Central Air Conditioning</li>
                <li>Central Heating</li>
                <li>Parquet Floor</li>
                <li>Disable Facilities</li>
                <li>Room Area: 24sqm</li>
            </ul>
        </div>

        <div class="col-md-1 col-sm-6"></div>

        <div class="col-md-3 col-sm-6">
            <ul class="text-left">
                <li>Shower or Bath</li>
                <li>Balcony</li>
                <li>Double or Twin Bed</li>
                <li>Safe Box</li>
                <li>Mini Bar</li>
                <li>Hair Dryer</li>
            </ul>
        </div>


    </div>
</div>



